{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign In - Wiesbaden Cyclery{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="text-center mb-0">
                        <i class="fa fa-sign-in"></i> Sign In
                    </h3>
                </div>
                <div class="card-body">
                    <p class="text-center text-muted mb-4">
                        Welcome back! Please sign in to your account.
                    </p>
                    
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fa fa-sign-in"></i> Sign In
                            </button>
                        </div>
                    </form>
                    
                    <hr>
                    
                    <div class="text-center">
                        <p class="mb-2">
                            <a href="{% url 'account_reset_password' %}" class="text-muted">
                                Forgot your password?
                            </a>
                        </p>
                        <p class="mb-0">
                            Don't have an account? 
                            <a href="{% url 'account_signup' %}" class="text-primary">
                                Sign up here
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}